.resume-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.resume-header {
  margin-bottom: 20px;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #0056b3;
}

.resume-viewer {
  overflow: hidden;
}

/* Responsive adjustments for tablets and smaller screens */
@media (max-width: 768px) {
  .resume-page {
    padding: 15px;
  }

  .resume-header {
    margin-bottom: 15px;
  }

  .download-button {
    width: 100%; /* Full-width button for smaller screens */
    padding: 12px;
    font-size: 1rem; /* Slightly larger text for easier readability */
  }

}

/* Further adjustments for very small screens (phones) */
@media (max-width: 480px) {
  .resume-page {
    padding: 10px;
  }

  .download-button {
    padding: 10px;
    width: 100%; /* Full-width button for smaller screens */
    font-size: 0.9rem; /* Smaller text for compact view */
  }

  .resume-viewer {
    height: calc(100vh - 400px); /* Further adjust height for smaller devices */
  }
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 80% !important;
  height: 100% !important;
}